@green: #7BE6A2;
@red: #F76868;
@blue: #0fb8ad;
@dark-grey: #565656;
@light-grey: lighten(@dark-grey, 30%);

.lst-navbar{
    background: #fff;
    padding: 20px 0px;
    margin: 0;
}

.lst-cursor{
    cursor: pointer;
}

.lst-panel{
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    margin: 10px 0px;
}

body{
    background: #f0eef9;
    font-family: 'Nunito', sans-serif;
    color : #565656;
    position: relative;
}

.textarea--nonresizable{
    resize: none
}

.inline{
    display: inline;
}

.profile__validateBtn {
    margin-top: 10px;
    margin-left: 15px;
}

.no-margin {
  margin: 0;
}

.home__illustration{
    background: url('../img/firstbackground.jpg');
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    @media screen and (min-width: 1170px) {
        background-position-y: -200px;
    }

    &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(to top left,#0057b7 0,#1abca6 100%);
        opacity: .6;
    }
}

.home__highlight{
    font-size: 28px;
    margin: 50px 0px;
}

.home__highlight--right{
    text-align: right;
}

.home__headline{
    font-size: 48px;
    display: inline-block;
    color: #fff;
    margin-right: 40px;
}
.home__form-wrapper{
    width: 300px;
    display: inline-block;
    background: #fff;
}

.home__tagline {
    margin-bottom: 40px;
    z-index: 100;
}

.home__feature {
    border-bottom: 3px solid #dcdcdc;
    padding: 20px 0px;
}

.home__feature--noborder {
    border: none
}

.home__featureTitle {
    font-size: 32px;
    margin-bottom: 25px;
}

.home_featureDescription {
    line-height: 1.8em;
    font-size: 17px;
    color: #acacac;
    font-weight: 300;
}

.home{
    padding: 30px 0px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.home__illustrationContent {
    z-index: 100;
}

.betaAccess__input {
    display: inline;
    height: 45px;
    width: 50%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.betaAccess__cta {
    height: 45px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.home__title{
    color: #fff;
}

.home__credentials{
    padding: 20px 0px
}

.home__icon-container{
    width: 140px;
    height: 140px;
    border-radius: 50%;
    font-size: 51px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    padding: 25px;
}

.home__icon--green{
    color: @green;
}
.home__icon--red{
    color: @red;
}

.home__form-headline{
    font-size: 20px;
    padding: 20px;
    padding-bottom: 0px;
}

.footer{
    background: #565656;
    padding: 20px 0px;
    position:absolute;
    bottom:0;
    width:100%;
    height:60px;
    color: #fff;
}

.footer__copyright {
    font-size: 13px;
}

.content--offset{
    padding-bottom: 60px;
}

.container-flex--hcenter{
    display: flex;
    align-items: center;
}

.container-flex--inline{
    display: flex;
    flex-direction: row;
}

.container-flex--space-between{
    justify-content: space-between;
}

.container-flex--vcenter{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn--red{
    color: @red;
    border: 3px solid @red;
}

.btn-redplain{
    background: @red;
    color: #fff;
    border: 3px solid @red;
}

.btn-redplain:hover{
    background: darken(@red, 10%);
    color: #fff;
    border: 3px solid darken(@red, 10%);
}

.btn-greenplain{
    background: @green;
    color: #fff;
    border: 3px solid @green;
}

.btn-greenplain:hover{
    background: @green;
    color: #fff;
    border: 3px solid @green;
}

.float-right{
    float:right
}
.btn--red:hover{
    background:@red;
    color: #fff
}

.btn--green{
    color: @green;
    border: 3px solid #7BE6A2;
}

.btn--greenplain{
    background: @green;
    color: #fff;
    border:3px solid @green;
    &:hover{
        background: #fff;
        color: @green;
        border:3px solid @green;
    }
}

.btn--green:hover{
    background: #7BE6A2;
    border: 3px solid #7BE6A2;
    color: #fff;
}

.error{
    color: @red;
}


html,
body {
    margin:0;
    padding:0;
    height:100%;
}
#wrapper {
    min-height:100%;
    position:relative;
}
#header {
    background:#ededed;
    padding:10px;
}
#content {
    padding-bottom:130px; /* Height of the footer element */
}
#footer {
    background: #32303a;
    width:100%;
    height:100px;
    position:absolute;
    bottom:0;
    left:0;
    color: #fff;
}

.navbar__cred{
    margin-bottom: 10px;
}

.navbar__wrapper{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.link{
    color: inherit;
}

.link:hover{
    color: #7BE6A2
}

.title{
    font-size: 32px;
    font-weight: 800;
}
.title--boffset{
    margin-bottom: 10px;
}
.label{
    color: #9F9E9E;
    margin-top: 15px;
    margin-bottom: 5px;
}

.panel {
    background: #fff;
    padding: 20px;
}

.profile {
    background: @blue;
    color: #fff;
    padding-top: 40px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.profile_picture{
    @media (min-width: 350px) {
        min-height: 150px;
        min-width: 150px;
    }
    min-height: 100px;
    min-width: 100px;
    border: 5px solid #fff;


}

.leaderboard{
    margin-top: 20px;
}

.leaderboard hr{
    border: 1px solid #f2f2f2;
}

.leaderboard_commentsCount{
    margin-right: 15px;
}

.leaderboard__ctaContainer{
    display: flex;
    justify-content: space-around;
}

.leaderboard__cta{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    color: #fff;
    background: #a3a3a3;
    padding: 10px;
    cursor: pointer;
}

.leaderboard_name{
    color: @blue;
    font-size: 22px;
}

.leaderboard__description{
    color: @light-grey;
    font-weight: 300;
}


.leaderboard__esteem{
    font-size: 18px;
}

.round-img__container{
    border-radius: 50%;
    overflow: hidden;
    width: 150px;
    height: 150px;
}

.leaderboard__icon{
    color: @blue;
    margin-right: 5px;
}

.leaderboard__socialContainer{
    display: inline-block;
    cursor: pointer;
}

.leaderboard__icon--right{
    margin-left: 5px
}

.leaderboard__cta--red{
    background: @red;
}

.leaderboard__cta--green{
    background: @green;
}

.leaderboad__greyCtaHover--green{
    background: @light-grey;
    &:hover {
        background: @green;
    }
}

.leaderboad__greyCtaHover--red{
    background: @light-grey;
    &:hover {
        background: @red;
    }
}

.leaderboard__comment{
    font-weight: 300;
    font-size: 12px
}

.updateEsteem__form{
    margin: 0 auto;
    max-width: 250px;
}

.updateEsteem__ctaContainer{
    display: flex;
    justify-content: center;
}

.updateEsteem__variationInput{
    width: 100px;
}

.round-img__container img{
    display: block;
    min-width: 100%;
    min-height: 100%;
}

.signupForm{
    font-size: 18px;
    text-align: left;
}

.signupForm__error {
    color: @red;
    font-size: 11px;
}

.tableRow {
    border-bottom: 1px solid #eee;
    &:last-child{
        border: none;
    }
}

.feed__createdAt{
    color: @light-grey;
    margin-left: 10px;
    float: right;
    font-size: 12px;
}

.feed__content{
    margin-bottom: 0px;
}

.feed_reason {
    font-weight: 300;
    margin-bottom: 0px;
}

.feed {
    padding: 2px 0;
}

.feed__text--highlight {
    font-weight: 800;
    color: @blue;
}

.home__illustrationIcon {
  height: 250px;
}

.profilePicture__container {
  position: relative;
  cursor: pointer;
  width: 150px;
  height: 150px;
  &:hover {
    .profilePicture__overlay {
        position: absolute;
        top: 0px;
        text-align: center;
        width: 150px;
        height: 150px;
        display: flex;
        align-items: center;
        background: rgba(0,0,0,.5);
        border-radius: 100%;
    }
  }
}

.profilePicture__overlay {
  display: none;
}

.profilePicture__closeIcon {
  position: absolute;
  left: 0px;
  top: 0px;
}

.navbar__greeting {
  margin-right: 10px;
  margin-top: 10px;
}

.navbar__item {
  display: inline-block;
}

.navbar__list {
  margin-top: 15px;
}

.btn--grey {
  background: #fff;
  border: 3px solid #808080;
  &:hover {
    background: #808080;
    color: #fff;
  }
}
