{
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "extends": "airbnb",
    "rules": {
        "semi": 2,
        "no-underscore-dangle": 0,
        "react/react-in-jsx-scope": 0,
        "react/prop-types": 0,
        "strict": 0,
        "no-unused-vars": 1,
        "camelcase": 1,
    }
}